<label>Sort by:</label>
<select [(ngModel)]="selectedSortProp" (change)="onSortChange()">
  <!-- <option value="/">Featured</option>
       <option value="/">Best Selling</option> -->
  <option value="TitleAsc">Alphabetically, A-Z</option>
  <option value="TitleDesc">Alphabetically, Z-A</option>
  <option value="PriceAsc">Price, low to high</option>
  <option value="PriceDesc">Price, high to low</option>
  <!-- <option value="/">Date, new to old</option>
       <option value="/">Date, old to new</option> -->
</select>
