// /* You can add global styles to this file, and also import other style files */
// /* Application-wide Styles */
// h1 {
//     color: #369;
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 250%;
//   }
//   h2, h3 {
//     color: #444;
//     font-family: Arial, Helvetica, sans-serif;
//     font-weight: lighter;
//   }
//   body {
//     margin: 2em;
//   }
//   body, input[type="text"], button {
//     color: #333;
//     font-family: Cambria, Georgia, serif;
//   }
//   /* everywhere else */
//   * {
//     font-family: Arial, Helvetica, sans-serif;
//   }
  
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
/* remember to define visible focus styles! 
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
  $MAIN
\*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

/* Typography */

h1 {
  font-size: 28px;
  font-weight: 300;
  flex: 1;
}

h5 {
  font-weight: 500;
  line-height: 1.7em;
}

h6 {
  color: #666;
  font-size: 14px;
}

/* Product Layout */

.product-filter {
  display: flex;
  padding: 30px 0;
}

.sort {
  display: flex;
  align-self: flex-end;
  column-gap: 20px;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}

label {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  padding: 2%;
  flex: 1 16%;

  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.product-image img {
  width: 100%;
}

.product-info {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
  .title{
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .description {
    line-height: 1.2;
  }
  .price {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.product-image-page {
  display: flex;
  justify-content: center;
  img {
    width: 30%;
  }
}

.messages {
  border: solid 1px #a5a5a5;
  border-radius: 5px;
  margin: 2rem 1rem;
  padding: 1rem;
  .messages-header {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 700; 
  }
  .clear {
    margin-bottom: 1rem;
  }
  .message-line {
    margin-top: 0.5rem;
  }
}

.go-back {
  font-size: 2rem;
  // border: solid 2px #a5a5a5;
  cursor: pointer;
  padding: 1rem 2rem;
  width: 7rem;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.breadcrumbs {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  margin: 1rem 0;
  .active {
    font-weight: 700;
  }
  .non-active {
    cursor: pointer;
    text-decoration: underline;
  }
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #a5a5a5 2px;
  padding: 5px 10px;
  cursor: pointer;
}

.search-results-container {
  margin-top: 20px;
  .search-result {
    margin: 10px 0;
    a {
      color: #2ed4c4;
    }
  }
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .products .product-card:first-child,
  .products .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  .product-filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
}